<!doctype html>


<head>
    <link rel="stylesheet" type="text/css" href="/assets/fonts/font-awesome-4.7.0/css/font-awesome.css" />
</head>
<div class="header">
    <div class="signup-form">



        <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)" method="POST">
            <h2>Register</h2>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" ngModel name="name" id="name" placeholder="Enter name">
                </div>
                <div class="form-group col-md-6">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" ngModel name="email" id="email"
                        aria-describedby="emailHelp" placeholder="Enter email">

                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" ngModel name="password" id="password"
                        placeholder=" EnterPassword" aria-describedby="passwordHelpBlock">

                </div>

                <div class="form-group col-md-6">
                    <label for="dob">Date of Birth</label>
                    <input type="date" class="form-control" ngModel name="dob" id="dob">
                </div>
            </div>
            <div class="form-row">
            <div class="form-group col-md-4">
                <label for="gender">Gender</label>
                <select name="gender" id="gender" class="form-control" ngModel>
                  <option value="" selected>Select a gender</option>
                  <option *ngFor="let gender of genders">{{ gender }}</option>
                  
                </select>
            </div>
        
            <div class="form-group col-md-8">
                <label for="location">Address</label>
                <input type="text" class="form-control" ngModel name="location" id="location"
                    placeholder="1234 Main St">
            </div>
        </div>
            <div class="form-row">
                <div class="form-group col-md-5">
                    <label for="city">City</label>
                    <input type="text" class="form-control" ngModel name="city" id="city" placeholder="Enter city">
                </div>
                <div class="form-group col-md-4">
                    <label for="state">State</label>
                    <input type="text" class="form-control" ngModel name="state" id="state" placeholder="Enter state">
                </div>
                <div class="form-group col-md-3">
                    <label for="inputZip">Pincode</label>
                    <input type="text" class="form-control" ngModel name="pincode" id="inputZip"
                        placeholder="Enter pincode">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="registrationNo">Registration Number</label>
                    <input type="text" class="form-control" ngModel name="registrationNo" id="registrationNo"
                        placeholder="Enter Registration Number">
                </div>
                <div class="form-group col-md-6">
                    <label for="registrationDate">Registration Date</label>
                    <input type="date" class="form-control" ngModel name="registrationDate" id="registrationDate">
                </div>
            </div>
            <div class="form-group">
                <label for="stateMedicalCouncil">State Medical Council</label>
                <input type="text" class="form-control" ngModel name="stateMedicalCouncil" id="stateMedicalCouncil"
                    placeholder="Enter State Medical Council">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="qualification">Qualification</label>
                    <input type="text" class="form-control" ngModel name="qualification" id="qualification"
                        placeholder="Enter qualification">
                </div>
                <div class="form-group col-md-6">
                    <label for="specialization">Specialization</label>
                    <input type="text" class="form-control" ngModel name="specialization" id="specialization"
                        placeholder="Enter specialization">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="fees">Visiting Charges</label>
                    <input type="number" class="form-control" ngModel name="fees" id="fees"
                        placeholder="Enter Visiting charges">
                </div>
                <div class="form-group col-md-6">
                    <label for="photo">Photo</label>
                    <input type="file" class="form-control-file" name="photo" id="photo"
                        (change)="onFileSelect($event)">
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-success btn-lg btn-block" />
            </div>
        </form>
    </div>