body {
  color: black;
  background: black;
  font-family: "Roboto", sans-serif;
}

.header {
  background: url("/assets/images/hospital.jpg");
  background-size: cover;
}
.form-control {
  height: 40px;
  box-shadow: none;
  color: black;
  border-color: black;
}
.signup-form {
  width: 450px;
  margin: 0 auto;
  padding: 30px 0;
  font-size: 15px;
  color: black;
}
.signup-form h2 {
  color: black;
  margin: 0 0 15px;
  position: relative;
  text-align: center;
}

.signup-form form {
  color: black;
  border-radius: 3px;
  margin-bottom: 15px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.7;
}
.signup-form .form-group {
  margin-bottom: 20px;
  color: black;
}

.signup-form .btn {
  font-size: 16px;
  font-weight: bold;
  min-width: 140px;
  outline: none !important;
}
