<head>
  <link rel="stylesheet" type="text/css" href="/assets/fonts/font-awesome-4.7.0/css/font-awesome.css" />
</head>
<div class="header">
  <div class="signup-form">
    <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
      <p style="color: white">Please Wait. </p>  
      </ngx-spinner>
    <form action="" #patientForm="ngForm" (ngSubmit)="onSubmit(patientForm)">
      <h2>Register</h2>
      <p *ngIf="!patientForm.valid && (name.dirty || name.touched)" class="text text-danger">INVALID CREDENTIALS!!!!</p>
      <div class="form-group">
        <label for="name">Name</label>
        
        <input type="text" name="name" placeholder="Enter name" class="form-control" #name="ngModel" ngModel required
          minlength="4" />

      </div>

      <div class="form-group">
        
        <label for="number">Phone Number</label>
        <input type="text" name="phoneNo" placeholder="Phone number" class="form-control" #phoneNo="ngModel" ngModel
          required pattern="[0-9]{10}"/>
      </div>

      <div class="form-group">

        <label for="dob">Date of birth</label>
        <input type="date" name="dob" class="form-control" ngModel required />
      </div>

      <div class="form-group">

        <label for="gender">Gender</label>
        <select name="gender" id="gender" class="form-control" ngModel required>
          <option value="" selected>Select a gender</option>
          <option *ngFor="let gender of genders">{{ gender }}</option>

        </select>
      </div>

      <div class="form-group">

        <label for="email">Email Id</label>
        <input type="email" name="email" placeholder="Enter your email id" class="form-control" ngModel required email />
      </div>

      <div class="form-group">

        <label for="password">Password</label>
        <input type="password" name="password" placeholder="create password" class="form-control" ngModel required minlength="5"/>
      </div>
      <div class="form-group">
        <label for="photo">Photo</label>
        <input type="file" class="form-control-file" name="photo" id="photo" (change)="onFileSelect($event)"
          [(ngModel)]="photo" />
      </div>
      <div class="form-group">
        <button *ngIf="patientForm.valid "type="submit" value="Register" class="btn btn-success btn-lg btn-block">Register</button>

      </div>

    </form>
  </div>
</div>