<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
    <app-header></app-header>
	<div class="bg_pic">
		
	</div>
	<div class="page_content">
			<h2 class="about-us">About Us</h2>
			<div class="overlay_1">

					<p class="about-us-text">We are a doctor patient handling, managing system that helps doctors in their work and also patients
                    to book doctor appointments and view medical progress. The system allows doctors to manage their booking
                    slots online. Patients are allowed to book empty slots online and those slots are reserved in their name</p>
			</div>
				
</div>
</body>
</html>