@font-face {
    font-family: Raleway-SemiBold;
    src: url("/assets/fonts/raleway/Raleway-SemiBold.ttf");
  }
  
  @font-face {
    font-family: Raleway-Bold;
    src: url("/assets/fonts/raleway/Raleway-Bold.ttf");
  }
  
  @font-face {
    font-family: Raleway-Black;
    src: url("/assets/fonts/raleway/Raleway-Black.ttf");
  }
  
body{
    text-align: center;
}
.doctors-view{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.doc-card{
    display: inline;
    width: 33%;
    text-align: center;
}
.doc-text{
    margin: 5px 7px;
    font-size: 18px;
}
.doc-img{
    height: 200px;
    width: 200px;
    margin: auto 20px;
    
}
.doc-card:hover{
    box-shadow: 4px 10px rgba(0,0,0,.3);
}


.example-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  
  label{
    font-family: Raleway-SemiBold;
    color: gray;
}

span{
    font-family: sans-serif;
    padding-left: 10px;
}