<link href="/assets/fonts/fontawesome-5.0/css/fontawesome.css" rel="stylesheet">
<link href="/assets/fonts/fontawesome-5.0/css/brands.css" rel="stylesheet">
<link href="/assets/fonts/fontawesome-5.0/css/solid.css" rel="stylesheet">

<div class="footercontainer">
<footer>
  <div class="row">
  <div class= " col-6 copyright">
    <p>© Online Doctor Appointment</p>
  </div>
  
    <a href="#" class=" col-3 support"><i class="fas fa-phone-square-alt"></i></a>
    <a href="#" class=" col-1 face"><i class="fab fa-facebook-f"></i></a>
    <a href="#" class="col-1 tweet"><i class="fab fa-twitter"></i></a>
    <a href="#" class="col-1 linked"><i class="fab fa-linkedin-in"></i></a>
  
</div>
</footer>
</div>