<section class="bg is-primary">
  <div class="body">
    <div class="container">
      <h1 class="title">Health Care</h1>
      <h2 class="title2">For Whole Family</h2>
      <h3 class="subtitle">One stop shop to book all your appointments.</h3>

      <ul ml-auto>
        <li>
          <a class="btn btn-link btn-primary" type="button" href="#">Patient</a>
        </li>
        <div class="divider"></div>
        <li>
          <a class="btn btn-link btn-primary" type="button" href="#">Doctor</a>
        </li>
      </ul>
    </div>
  </div>
</section>
