<div *ngFor="let appointment of appointments">

    <div>

        {{ appointment.patientId.name }}
        {{ appointment.id.startTime }}
        {{ appointment.id.endTime }}
        {{ appointment.id.date }}

    </div>
    <div *ngIf="appointment">
        <button type="button" class="btn btn-primary" (click)="patientPrescriptions(appointment.patientId.id)">Prescriptoins</button>
        <button type="button" class="btn btn-secondary" (click)="cancelAppointment(appointment.id)">Cancel</button>
        <button type="file" class="btn btn-warning" (click)="uploadPrescription(appointment.patientId.id)">upload Prescriptions</button>
    </div>

</div>