.appointment-container {
  width: 100%;
}
.appointment-card {
  margin-left: 6vw;
}
.appointment-card:hover {
  box-shadow: 5px 5px 5px 4px rgba(0, 0, 0, 0.3);
}
label {
  padding: 20px 15px;
}
.appointment-block{
    margin-top:10px;
    
}
.upload {
  display: inline-block;
  background-color: rgb(154, 81, 206);
  color: white;
  padding: 8px;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 20px;
}

.upload:hover{
    background-color: rgb(96, 22, 148);
}

.uploadbutton {
  margin-left: 10px;
  margin-top: 20px;
}

.btn {
  margin-left: 5px;
  margin-top: -3.5px;
  line-height: 1.67 !important;
}
