<div *ngFor="let appointment of appointments">

    <div class="appointment-container">
        <div class="appointment-card row">
            <div class="col-6 appointment-block">

              <label> {{appointment.patientName}}</label> 
              <label> {{ appointment.startTime }}</label> 
                <label>  {{ appointment.endTime }}</label> 
                    <label> {{ appointment.date }}</label> 

            </div>
            <div class="col-6">
                <div *ngIf="appointment">
                    <input type="file" class="uploadbutton" id="upload" (input)="uploadPrescription(appointment.patientId,$event)" hidden/>
                    <label for="upload" class="upload">Choose file</label>
                    <button type="button" class="btn btn-primary"
                        (click)="patientPrescriptions(appointment.patientId.id)">Prescriptions</button>
                    <button type="button" class="btn btn-secondary"
                        (click)="cancelAppointment(appointment.id)">Cancel</button>
                    <!-- <input type="file" id="file" (input)="uploadPrescription(appointment.patientId,$event)" /> -->
                    

                </div>
            </div>
        </div>
    </div>
</div>