<app-header></app-header>
<div class="d-flex justify-content-center">
<div class="alert alert-warning text-center " role="alert">
    Select A Date
</div>
</div>
<div class= "date">
    <input class="form-control" type="date" id="example-date-input" (change)="datePicked($event)" name="date"/>
</div>
 <!-- <input class="date-style" type="date" (change)="datePicked($event)" name="date" /> -->
 <div class="d-flex justify-content-center">
 <div class="alert alert-warning text-center " role="alert">
    Select A Time Slot
</div>
 </div>
<div class="Time-frame-div">
    <div class="time-frames" *ngFor="let timeframe of timeFrames">
        <button *ngIf="!timeframe.booked" class="time-frame-btn" value="{{ timeframe.startTime }}"
            (click)="OnTimeSelect($event)" name="{{timeframe.id}}">
            {{ timeframe.startTime }} - {{ timeframe.endTime }}
        </button>
        <button *ngIf="timeframe.booked" class="time-frame-btn-dis" disabled>
            {{ timeframe.startTime }} - {{ timeframe.endTime }}
        </button>
    </div>
</div>

<button *ngIf="canBook" class="btn btn-primary date-style book-btn-style" (click)="OnBookAppointment()"data-toggle="modal"
data-target="#logMeInModal" >
    Book Appointment
</button>
<app-footer class="footer"></app-footer>
<div class="modal" id="logMeInModal" tabindex="-1" aria-labelledby="logMeInModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="logMeInModalLabel">Login</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text">
                <input type="password">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success">Login</button>
                <button type="button" class="btn btn-primary">Register</button>
            </div>
        </div>
    </div>
</div>
