.Time-frame-div {
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  margin: auto;
  margin-top: 30px;
}

.time-frames {
  display: inline;
  width: 25%;
  padding: 10px;
}
.time-frame-btn {
  padding: 10px;
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
}
.time-frame-btn-dis {
  color: white;
  padding: 10px;
  background-color: grey;
  border: 1px solid black;
  border-radius: 3px;
}

.time-frame-btn:focus {
  background-color: lightgreen;
  color: white;
}
.book-btn-style {
  background-color: peachpuff !important;
  color: black;
  border: 1px solid white;
  width: 300px;
  height: 50px;
  margin-top: 69px;
  
}

.book-btn-style:hover{
  background-color: tomato !important;
  color:white;
}

div.alert {
  margin-top: 20px !important;
  width: 600px;
  align-items: center;
}

.date {
  width: 300px;
  margin: auto auto;
}

body{
  min-height: 100%;
}
