<app-header></app-header>
<div class="container">
    <form>
        <div class="Time-frame-div">
            <div class="time-frames" *ngFor="let timeframe of timeFrames">
                <div data-toggle="buttons" class="btn-group-toggle form-group">
                    <label class="btn btn-default">
                        <div class="itemcontent">
                            <input type="checkbox" class="time-frame-btn" value="{{ timeframe.startTime }}" id="{{ timeframe.startTime }}"
                                name="{{timeframe}}"
                                [(ngModel)]="timeframe.isSelected">
                            <h5> {{ timeframe.startTime }} - {{ timeframe.endTime }}</h5>
                        </div>
                    </label>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary date-style book-btn-style" (click)="OnSetSchedule()">
            Set Schedule
        </button>

        <button class="btn btn-secondary">
            Reset
        </button>
    </form>
</div>