<div *ngIf='patientId'>
    <div class="row">
        <div class="col-3">
            <div>
                <img class="avatar" src="/assets/images/PatientProfilePic/{{patientId}}/{{patient.picture}}"
                    alt="Profile Picture">
            </div>
        </div>
        <div class="col-6 details">
            <div class="name">
                <label>Name : </label> <span>{{patient.name}}</span>
            </div>
            <div class="name">
                <label>Email : </label> <span>{{patient.email}}</span>
            </div>
            <div class="name">
                <label>Date Of Birth : </label> <span>{{patient.dob}}</span>
            </div>
        </div>
    </div>
</div>
<div *ngIf='doctor'>
    <div class="row">
        <div class="col-3">
            <div>
                <img class="avatar" src="/assets/images/DoctorProfilePic/{{doctorId}}/{{doctor.picture}}"
                    alt="Profile Picture">
            </div>
        </div>
        <div class="col-6 details">
            <div class="name">
                <label>Name : </label> <span>{{doctor.name}}</span>
            </div>
            <div class="name">
                <label>Email : </label> <span>{{doctor.email}}</span>
            </div>
            <div class="name">
                <label>Date Of Birth : </label> <span>{{doctor.dob}}</span>
            </div>
        </div>
    </div>
</div>